In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
Pymolipuzzle_df = pd.read_csv(file_to_load)
Pymolipuzzle_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
#Total Number of players

Totaluniqueplayers = len(pd.unique(Pymolipuzzle_df['SN']))
Totaluniqueplayers

576

In [13]:
#Unique Items
Totaluniqueitems = len(pd.unique(Pymolipuzzle_df['Item ID']))
#Average Price
Averageprice =round(Pymolipuzzle_df['Price'].mean(),2)
#Total Revenue
Totalrevenue =round(Pymolipuzzle_df['Price'].sum(),2)
#Total Purchases
Totalpurchases = len(Pymolipuzzle_df)
#Purchase Analysis DF
Purchaseanalysis_df = pd.DataFrame({"Total Unique Items":[Totaluniqueitems], "Total Purchases":[Totalpurchases], "Average Price of Items":[Averageprice], "Total Revenue":[Totalrevenue]})
Purchaseanalysis_df

   Total Unique Items  Total Purchases  Average Price of Items  Total Revenue
0                 179              780                    3.05        2379.77

In [23]:
#Number and Percent of the Genders
Male_df = Pymolipuzzle_df.loc[Pymolipuzzle_df['Gender']== 'Male']
Female_df = Pymolipuzzle_df.loc[Pymolipuzzle_df['Gender']== 'Female']
Other_df = Pymolipuzzle_df.loc[Pymolipuzzle_df['Gender']== 'Other / Non-Disclosed']
Numbermales = len(pd.unique(Male_df['SN']))
Numberfemales = len(pd.unique(Female_df['SN']))
Numberother = len(pd.unique(Other_df['SN']))
Totalgender = Numbermales+Numberfemales+Numberother
Percentmales = round((Numbermales / Totalgender)*100,2)
Percentfemales = round((Numberfemales / Totalgender)*100,2)
Percentother = round((Numberother / Totalgender)*100,2)
Genderanalysis_df = pd.DataFrame({"Gender":['Male', 'Female', 'Other/Non-disclosed'], 'Number of Players':[Numbermales, Numberfemales, Numberother], 'Percent of Total': [Percentmales, Percentfemales, Percentother]})
Genderanalysis_df

                Gender  Number of Players  Percent of Total
0                 Male                484             84.03
1               Female                 81             14.06
2  Other/Non-disclosed                 11              1.91

In [ ]:
#Purchase Analysis by Gender