In [60]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
Pymolipuzzle_df = pd.read_csv(file_to_load)
Pymolipuzzle_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [61]:
#Total Number of players

Totaluniqueplayers = len(pd.unique(Pymolipuzzle_df['SN']))
Totaluniqueplayers

576

In [62]:
#Unique Items
Totaluniqueitems = len(pd.unique(Pymolipuzzle_df['Item ID']))
#Average Price
Averageprice =round(Pymolipuzzle_df['Price'].mean(),2)
#Total Revenue
Totalrevenue =round(Pymolipuzzle_df['Price'].sum(),2)
#Total Purchases
Totalpurchases = len(Pymolipuzzle_df)
#Purchase Analysis DF
Purchaseanalysis_df = pd.DataFrame({"Total Unique Items":[Totaluniqueitems], "Total Purchases":[Totalpurchases], "Average Price of Items":[Averageprice], "Total Revenue":[Totalrevenue]})
Purchaseanalysis_df

   Total Unique Items  Total Purchases  Average Price of Items  Total Revenue
0                 179              780                    3.05        2379.77

In [79]:
#Dedup and Group for demographics
Dedupgender_df = Pymolipuzzle_df.drop_duplicates(subset=['SN'])
DedupGroupgender_df = Dedupgender_df.groupby(['Gender'])
Numbermales = len(DedupGroupgender_df.get_group('Male'))
Numberfemales = len(DedupGroupgender_df.get_group('Female'))
Numberother = len(DedupGroupgender_df.get_group('Other / Non-Disclosed'))
Totalgender = Numbermales+Numberfemales+Numberother
Percentmales = round((Numbermales / Totalgender)*100,2)
Percentfemales = round((Numberfemales / Totalgender)*100,2)
Percentother = round((Numberother / Totalgender)*100,2)
Genderanalysis_df = pd.DataFrame({"Gender":['Male', 'Female', 'Other/Non-disclosed'], 'Number of Players':[Numbermales, Numberfemales, Numberother], 'Percent of Total': [Percentmales, Percentfemales, Percentother]})
Genderanalysis_df

                Gender  Number of Players  Percent of Total
0                 Male                484             84.03
1               Female                 81             14.06
2  Other/Non-disclosed                 11              1.91

In [49]:
#Purchase Analysis by Gender, group to facilitate
Groupgender_df = Pymolipuzzle_df.groupby(['Gender'])
#Total Purchases
Malepurchases = len(Groupgender_df.get_group('Male'))
Femalepurchases = len(Groupgender_df.get_group('Female'))
Otherpurchases = len(Groupgender_df.get_group('Other / Non-Disclosed'))
#Mean Prices
Meanmaleprice = round(Groupgender_df['Price'].mean().loc['Male'],2)
Meanfemaleprice = round(Groupgender_df['Price'].mean().loc['Female'],2)
Meanotherprice = round(Groupgender_df['Price'].mean().loc['Other / Non-Disclosed'],2)
#Total Prices
Summaleprice = round(Groupgender_df['Price'].sum().loc['Male'],2)
Sumfemaleprice = round(Groupgender_df['Price'].sum().loc['Female'],2)
Sumotherprice = round(Groupgender_df['Price'].sum().loc['Other / Non-Disclosed'],2)
#Average per Unique
Averagepermale = round(Summaleprice/Numbermales,2)
Averageperfemale = round(Sumfemaleprice/Numberfemales,2)
Averageperother = round(Sumotherprice/Numberother,2)
#Dataframe construction
Genderpurchase_df = pd.DataFrame({"Gender":['Male', 'Female', 'Other/Non-disclosed'], \
                                  'Purchase Count':[Malepurchases, Femalepurchases, Otherpurchases], \
                                  'Average Purchase Price': [Meanmaleprice, Meanfemaleprice, Meanotherprice], \
                                  'Total Purchase Value' : [Summaleprice, Sumfemaleprice, Sumotherprice], \
                                  'Avg Total per Person' : [Averagepermale, Averageperfemale, Averageperother]})
Genderpurchase_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total per Person
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Other/Non-disclosed,15,3.35,50.19,4.56

In [56]:
#Age is nothing but a number... Until you want to analyze data by it, that is. Binning.
bins = [0 , 9, 14, 19, 24, 29, 34, 39, 100]
groups = ['<10', '10 to 14', '15 to 19', '20 to 24', '25 to 29', '30 to 34', '35 to 39', '40+']
#Add column, then group by.
Pymolipuzzle_df['Age Range'] = pd.cut(Pymolipuzzle_df['Age'], bins, labels=groups)
Age_df = Pymolipuzzle_df.groupby(['Age'])
Age_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20 to 24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20 to 24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20 to 24
4,4,Iskosia90,23,Male,131,Fury,1.44,20 to 24
...,...,...,...,...,...,...,...,...
692,692,Quaecjask96,9,Male,78,"Glimmer, Ender of the Moon",4.40,<10
728,728,Chanosiaya39,44,Male,93,Apocalyptic Battlescythe,1.97,40+
738,738,Eusur90,36,Male,121,Massacre,1.60,35 to 39
753,753,Frichirranya75,36,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,35 to 39
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70,40+