In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
Pymolipuzzle_df = pd.read_csv(file_to_load)
Pymolipuzzle_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [2]:
#Total Number of players

Totaluniqueplayers = len(pd.unique(Pymolipuzzle_df['SN']))
Totaluniqueplayers

576

In [3]:
#Unique Items
Totaluniqueitems = len(pd.unique(Pymolipuzzle_df['Item ID']))
#Average Price
Averageprice =round(Pymolipuzzle_df['Price'].mean(),2)
#Total Revenue
Totalrevenue =round(Pymolipuzzle_df['Price'].sum(),2)
#Total Purchases
Totalpurchases = len(Pymolipuzzle_df)
#Purchase Analysis DF
Purchaseanalysis_df = pd.DataFrame({"Total Unique Items":[Totaluniqueitems], "Total Purchases":[Totalpurchases], "Average Price of Items":[Averageprice], "Total Revenue":[Totalrevenue]})
Purchaseanalysis_df

   Total Unique Items  Total Purchases  Average Price of Items  Total Revenue
0                 179              780                    3.05        2379.77

In [4]:
#Dedup and Group for demographics
Dedupfull_df = Pymolipuzzle_df.drop_duplicates(subset=['SN'])
DedupGroupgender_df = Dedupfull_df.groupby(['Gender'])
Numbermales = len(DedupGroupgender_df.get_group('Male'))
Numberfemales = len(DedupGroupgender_df.get_group('Female'))
Numberother = len(DedupGroupgender_df.get_group('Other / Non-Disclosed'))
Totalgender = Numbermales+Numberfemales+Numberother
Percentmales = round((Numbermales / Totalgender)*100,2)
Percentfemales = round((Numberfemales / Totalgender)*100,2)
Percentother = round((Numberother / Totalgender)*100,2)
Genderdemos_df = pd.DataFrame({"Gender":['Male', 'Female', 'Other/Non-disclosed'], 'Number of Players':[Numbermales, Numberfemales, Numberother], 'Percent of Total': [Percentmales, Percentfemales, Percentother]})
Genderdemos_df

                Gender  Number of Players  Percent of Total
0                 Male                484             84.03
1               Female                 81             14.06
2  Other/Non-disclosed                 11              1.91

In [5]:
#Purchase Analysis by Gender, group to facilitate
Groupgender_df = Pymolipuzzle_df.groupby(['Gender'])
#Total Purchases
Malepurchases = len(Groupgender_df.get_group('Male'))
Femalepurchases = len(Groupgender_df.get_group('Female'))
Otherpurchases = len(Groupgender_df.get_group('Other / Non-Disclosed'))
#Mean Prices
Meanmaleprice = round(Groupgender_df['Price'].mean().loc['Male'],2)
Meanfemaleprice = round(Groupgender_df['Price'].mean().loc['Female'],2)
Meanotherprice = round(Groupgender_df['Price'].mean().loc['Other / Non-Disclosed'],2)
#Total Prices
Summaleprice = round(Groupgender_df['Price'].sum().loc['Male'],2)
Sumfemaleprice = round(Groupgender_df['Price'].sum().loc['Female'],2)
Sumotherprice = round(Groupgender_df['Price'].sum().loc['Other / Non-Disclosed'],2)
#Average per Unique
Averagepermale = round(Summaleprice/Numbermales,2)
Averageperfemale = round(Sumfemaleprice/Numberfemales,2)
Averageperother = round(Sumotherprice/Numberother,2)
#Dataframe construction
Genderanalysis_df = pd.DataFrame({"Gender":['Male', 'Female', 'Other/Non-disclosed'], \
                                  'Purchase Count':[Malepurchases, Femalepurchases, Otherpurchases], \
                                  'Average Purchase Price': [Meanmaleprice, Meanfemaleprice, Meanotherprice], \
                                  'Total Purchase Value' : [Summaleprice, Sumfemaleprice, Sumotherprice], \
                                  'Avg Total per Person' : [Averagepermale, Averageperfemale, Averageperother]})
Genderanalysis_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total per Person
0,Male,652,3.02,1967.64,4.07
1,Female,113,3.20,361.94,4.47
2,Other/Non-disclosed,15,3.35,50.19,4.56

In [19]:
#Age is nothing but a number... Until you want to analyze data by it, that is. Binning.
bins = [0 , 9, 14, 19, 24, 29, 34, 39, 100]
groups = ['<10', '10 to 14', '15 to 19', '20 to 24', '25 to 29', '30 to 34', '35 to 39', '40+']
#Add column, then group by.
Pymolipuzzle_df['Age Range'] = pd.cut(Pymolipuzzle_df['Age'], bins, labels=groups)
Dedupage_df = Pymolipuzzle_df.drop_duplicates(subset=['SN'])
Age_df = Dedupage_df.groupby(['Age Range'])
#Find all of them and calculate for Demographics
Agegroup1 = len(Age_df.get_group('<10'))
Agegroup2 = len(Age_df.get_group('10 to 14'))
Agegroup3 = len(Age_df.get_group('15 to 19'))
Agegroup4 = len(Age_df.get_group('20 to 24'))
Agegroup5 = len(Age_df.get_group('25 to 29'))
Agegroup6 = len(Age_df.get_group('30 to 34'))
Agegroup7 = len(Age_df.get_group('35 to 39'))
Agegroup8 = len(Age_df.get_group('40+'))
Percentgroup1 = round((Agegroup1 / Totalgender)*100,2)
Percentgroup2 = round((Agegroup2 / Totalgender)*100,2)
Percentgroup3 = round((Agegroup3 / Totalgender)*100,2)
Percentgroup4 = round((Agegroup4 / Totalgender)*100,2)
Percentgroup5 = round((Agegroup5 / Totalgender)*100,2)
Percentgroup6 = round((Agegroup6 / Totalgender)*100,2)
Percentgroup7 = round((Agegroup7 / Totalgender)*100,2)
Percentgroup8 = round((Agegroup8 / Totalgender)*100,2)
#Create Data Frame
Agedemo_df = pd.DataFrame({'Age':['<10','10 to 14','15 to 19','20 to 24','25 to 29','30 to 34','35 to 39','40+'], \
                           'Total Count':[Agegroup1, Agegroup2, Agegroup3, Agegroup4, Agegroup5, Agegroup6, Agegroup7, Agegroup8], \
                           'Percentage of Players':[Percentgroup1, Percentgroup2, Percentgroup3, Percentgroup4, Percentgroup5, Percentgroup6, Percentgroup7, Percentgroup8]})
Agedemo_df

        Age  Total Count  Percentage of Players
0       <10           17                   2.95
1  10 to 14           22                   3.82
2  15 to 19          107                  18.58
3  20 to 24          258                  44.79
4  25 to 29           77                  13.37
5  30 to 34           52                   9.03
6  35 to 39           31                   5.38
7       40+           12                   2.08

In [25]:
#Full Group by age
Fullage_df = Pymolipuzzle_df.groupby(['Age Range'])
#Total Purchases
Agepurchase1 = len(Fullage_df.get_group('<10'))
Agepurchase2 = len(Fullage_df.get_group('10 to 14'))
Agepurchase3 = len(Fullage_df.get_group('15 to 19'))
Agepurchase4 = len(Fullage_df.get_group('20 to 24'))
Agepurchase5 = len(Fullage_df.get_group('25 to 29'))
Agepurchase6 = len(Fullage_df.get_group('30 to 34'))
Agepurchase7 = len(Fullage_df.get_group('35 to 39'))
Agepurchase8 = len(Fullage_df.get_group('40+'))
#Mean Prices
Meangroup1price = round(Fullage_df['Price'].mean().loc['<10'],2)
Meangroup2price = round(Fullage_df['Price'].mean().loc['10 to 14'],2)
Meangroup3price = round(Fullage_df['Price'].mean().loc['15 to 19'],2)
Meangroup4price = round(Fullage_df['Price'].mean().loc['20 to 24'],2)
Meangroup5price = round(Fullage_df['Price'].mean().loc['25 to 29'],2)
Meangroup6price = round(Fullage_df['Price'].mean().loc['30 to 34'],2)
Meangroup7price = round(Fullage_df['Price'].mean().loc['35 to 39'],2)
Meangroup8price = round(Fullage_df['Price'].mean().loc['40+'],2)
#Total Prices
Sumgroup1price = round(Fullage_df['Price'].sum().loc['<10'],2)
Sumgroup2price = round(Fullage_df['Price'].sum().loc['10 to 14'],2)
Sumgroup3price = round(Fullage_df['Price'].sum().loc['15 to 19'],2)
Sumgroup4price = round(Fullage_df['Price'].sum().loc['20 to 24'],2)
Sumgroup5price = round(Fullage_df['Price'].sum().loc['25 to 29'],2)
Sumgroup6price = round(Fullage_df['Price'].sum().loc['30 to 34'],2)
Sumgroup7price = round(Fullage_df['Price'].sum().loc['35 to 39'],2)
Sumgroup8price = round(Fullage_df['Price'].sum().loc['40+'],2)
#Average per Unique
Averagepergroup1 = round(Sumgroup1price/Agegroup1,2)
Averagepergroup2 = round(Sumgroup2price/Agegroup2,2)
Averagepergroup3 = round(Sumgroup3price/Agegroup3,2)
Averagepergroup4 = round(Sumgroup4price/Agegroup4,2)
Averagepergroup5 = round(Sumgroup5price/Agegroup5,2)
Averagepergroup6 = round(Sumgroup6price/Agegroup6,2)
Averagepergroup7 = round(Sumgroup7price/Agegroup7,2)
Averagepergroup8 = round(Sumgroup8price/Agegroup8,2)
#Dataframe construction
Ageanalysis_df = pd.DataFrame({'Age':['<10','10 to 14','15 to 19','20 to 24','25 to 29','30 to 34','35 to 39','40+'], \
                               'Purchase Count':[Agepurchase1, Agepurchase2, Agepurchase3, Agepurchase4, Agepurchase5, Agepurchase6, Agepurchase7, Agepurchase8], \
                               'Average Purchase Price': [Meangroup1price, Meangroup2price, Meangroup3price, Meangroup4price, Meangroup5price, Meangroup6price, Meangroup7price, Meangroup8price], \
                               'Total Purchase Value' : [Sumgroup1price, Sumgroup2price, Sumgroup3price, Sumgroup4price, Sumgroup5price, Sumgroup6price, Sumgroup7price, Sumgroup8price], \
                               'Avg Total per Person' : [Averagepergroup1, Averagepergroup2, Averagepergroup3, Averagepergroup4, Averagepergroup5, Averagepergroup6, Averagepergroup7, Averagepergroup8]})
Ageanalysis_df

,Age,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total per Person
0,<10,23,3.35,77.13,4.54
1,10 to 14,28,2.96,82.78,3.76
2,15 to 19,136,3.04,412.89,3.86
3,20 to 24,365,3.05,1114.06,4.32
4,25 to 29,101,2.90,293.00,3.81
5,30 to 34,73,2.93,214.00,4.12
6,35 to 39,41,3.60,147.67,4.76
7,40+,13,2.94,38.24,3.19

In [44]:
#HEY BIG SPENDER!
Spender_df = Pymolipuzzle_df.groupby(['SN'])

TypeError: f() takes 1 positional argument but 2 were given